@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@font-face {
    font-family: "Coolvetica";
    src: url("../fonts/Coolvetica\ Rg.otf");
}

/* @font-face {
    font-family: 'Helvetica';
    src: url('../fonts/Helvetica.ttc');
} */

/* @font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/HelveticaNeue.ttc');
} */

@font-face {
    font-family: 'Avenir';
    src: url('../fonts/Avenir.ttc');
}

@theme {
    --font-coolvetica: 'Coolvetica';
    --font-helvetica: 'Helvetica';
    --font-helvetica-neue: 'Helvetica Neue';
    --font-avenir: 'Avenir';

    --color-algae: #9ABA6F;
    --color-algae-light: #BCC6AE;
    --color-algae-dark: #828D74;

    --color-grass: #6F8650;
    --color-grass-light: #6F8670;
    --color-grass-dark: #57693F;

    --color-tennis: #AABA95;
    --color-tennis-light: #E7EFDA;
    --color-tennis-dark: #799A7D;

    --color-forest: #3D5F3E;
    --color-forest-light: #527F53;
    --color-forest-dark: #283E29;

    --color-danger: #CA2325;
    --color-danger-light: #CA6C6D;
    --color-danger-dark: #93191B;

    --color-warning: #DD9D1D;
    --color-warning-light: #E6B759;
    --color-warning-dark: #AC7B1B;

    --color-primary: #2A65CA;
    --color-primary-light: #5785D2;
    --color-primary-dark: #1E4D9D;

    --color-secondary: #B9B9B9;
    --color-secondary-light: #F1F1F1;
    --color-secondary-dark: #9C9C9C;
}

@layer components {
    .nav-item {
        @apply font-coolvetica font-extralight md:text-lg lg:text-2xl flex items-center md:px-5 lg:px-8 py-3 text-grass hover:bg-grass hover:text-white lg:h-16 md:h-10 tracking-wide;
    }

    .nav-item.active {
        @apply font-coolvetica font-extralight md:text-lg lg:text-2xl flex items-center md:px-5 lg:px-8 py-3 text-grass hover:bg-grass hover:text-white lg:h-16 md:h-10 tracking-wide bg-[#D9D9D9];
    }

    .nav-icon {
        @apply h-5 w-5 ml-auto text-grass hover:text-white fill-current;
    }
}

